 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Who we are?</h2>
                    <hr class="star-secondary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p>From the creators of "Blackness" and "Viva La Hardcore".</p>
                  <p>We've already done this before and we'll do it again!</p>
                </div>
            </div>
        </div>
    </section>
