 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Who we are?</h2>
                    <hr class="star-secondary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p>Time2Core is a collaboration of two people from worlds apart.</p>
                  <p>One of them is a PR-mastermind from Moscow, already a player in this business - Gleb Crabz (ex "Goodpeople" promo), famous by his franchise "Viva La Hardcore". The second one is a pragmatic PM from St. Petersburg - Roman Prime, mostly known as highly proficient hardcore DJ PR1ME with over ten years of career.</p>
                  <p>Together they've gathered their skills to grow up a hardcore scene in St. Petersburg to the next level.</p>
                </div>
            </div>
        </div>
    </section>
